@model MuncipalityManagementSystem.Models.Citizen

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Delete Citizen";
}

<h1 class="text-danger">Delete Citizen</h1>

<p class="alert alert-warning">Are you sure you want to delete this citizen? This action cannot be undone.</p>

<div class="card shadow-sm p-3">
    <h4>Citizen Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Full Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.FullName)</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-3">Date of Birth</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DateOfBirth)</dd>

        <dt class="col-sm-3">Registration Date</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.RegistrationDate)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CitizenID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
