@model MunicipalityManagementSystem.Models.Citizen
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Citizen Details";
}

<h1>Citizen Details</h1>

<div class="card shadow-sm p-3">
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Full Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.FullName)</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-3">Date of Birth</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DateOfBirth)</dd>

        <dt class="col-sm-3">Registration Date</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.RegistrationDate)</dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.CitizenID" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
